label {
  color:  red;
}
input {
  color: green;
}


.FieldInfo{
  color : rgb(251,174,44);
}

.container{
  align-content: center;
  align-items: center;
  align : center;
  display: flex;
}

.formContainer{
  align-items: center;
  align-content: center;
}

.fieldSet {
  width:  50%;
  margin-left: 25%;
}

.dbview {
  border-style: solid;
}
